[submodule ".registry"]
	path = .registry
	url = https://github.com/idahoagstats/universe
	shallow = true
	branch = HEAD
[submodule "agridat"]
	path = agridat
	url = https://github.com/kwstat/agridat/
	shallow = true
	registered = true
[submodule "desplot"]
	path = desplot
	url = https://github.com/kwstat/desplot
	shallow = true
	registered = true
[submodule "rnassqs"]
	path = rnassqs
	url = https://github.com/ropensci/rnassqs
	shallow = true
	registered = true
