[submodule ".registry"]
	path = .registry
	url = https://github.com/idahoagstats/universe
	shallow = true
	branch = HEAD
[submodule "ag5Tools"]
	path = ag5Tools
	url = https://github.com/agrdatasci/ag5Tools
	shallow = true
	registered = true
[submodule "AGHmatrix"]
	path = AGHmatrix
	url = https://github.com/rramadeu/AGHmatrix
	shallow = true
	registered = true
[submodule "AGPRIS"]
	path = AGPRIS
	url = https://github.com/edoardoBaldoni/AGPRIS
	shallow = true
	registered = true
[submodule "agriCensData"]
	path = agriCensData
	url = https://github.com/OnofriAndreaPG/agriCensData
	shallow = true
	registered = true
[submodule "agricolae"]
	path = agricolae
	url = https://github.com/myaseen208/agricolae
	shallow = true
	registered = true
[submodule "agricolaeplotr"]
	path = agricolaeplotr
	url = https://github.com/jensharbers/agricolaeplotr
	shallow = true
	registered = true
[submodule "agridat"]
	path = agridat
	url = https://github.com/kwstat/agridat
	shallow = true
	registered = true
[submodule "agriTutorial"]
	path = agriTutorial
	url = https://github.com/myaseen208/agriTutorial
	shallow = true
	registered = true
[submodule "agromet"]
	path = agromet
	url = https://github.com/AgRoMeteorologiaINTA/agromet
	shallow = true
	registered = true
[submodule "AlphaSimR"]
	path = AlphaSimR
	url = https://github.com/gaynorr/AlphaSimR
	shallow = true
	registered = true
[submodule "ALUES"]
	path = ALUES
	url = https://github.com/alstat/ALUES
	shallow = true
	registered = true
[submodule "apsimx"]
	path = apsimx
	url = https://github.com/femiguez/apsimx
	shallow = true
	registered = true
[submodule "aqp"]
	path = aqp
	url = https://github.com/ncss-tech/aqp
	shallow = true
	registered = true
[submodule "ascotraceR"]
	path = ascotraceR
	url = https://github.com/IhsanKhaliq/ascotraceR
	shallow = true
	registered = true
[submodule "asremlPlus"]
	path = asremlPlus
	url = https://github.com/briencj/asremlPlus
	shallow = true
	registered = true
[submodule "bayesammi"]
	path = bayesammi
	url = https://github.com/myaseen208/bayesammi
	shallow = true
	registered = true
[submodule "BGLR"]
	path = BGLR
	url = https://github.com/gdlc/BGLR-R
	shallow = true
	registered = true
[submodule "biotools"]
	path = biotools
	url = https://github.com/arsilva87/biotools
	shallow = true
	registered = true
[submodule "breedR"]
	path = breedR
	url = https://github.com/famuvie/breedR
	shallow = true
	registered = true
[submodule "cdlTools"]
	path = cdlTools
	url = https://github.com/jlisic/cdlTools
	shallow = true
	registered = true
[submodule "ClimMobTools"]
	path = ClimMobTools
	url = https://github.com/AgrDataSci/ClimMobTools
	shallow = true
	registered = true
[submodule "cpgen"]
	path = cpgen
	url = https://github.com/cheuerde/cpgen
	shallow = true
	registered = true
[submodule "cropdatape"]
	path = cropdatape
	url = https://github.com/omarbenites/cropdatape
	shallow = true
	registered = true
[submodule "cropDemand"]
	path = cropDemand
	url = https://github.com/FilgueirasR/cropDemand
	shallow = true
	registered = true
[submodule "CropDetecR"]
	path = CropDetecR
	url = https://github.com/niconaut/CropDetectR
	shallow = true
	registered = true
[submodule "cropgrowdays"]
	path = cropgrowdays
	url = https://gitlab.com/petebaker/cropgrowdays
	shallow = true
	registered = true
[submodule "CropScapeR"]
	path = CropScapeR
	url = https://github.com/cbw1243/CropScapeR
	shallow = true
	registered = true
[submodule "cropZoning"]
	path = cropZoning
	url = https://github.com/FilgueirasR/cropZoning
	shallow = true
	registered = true
[submodule "desplot"]
	path = desplot
	url = https://github.com/kwstat/desplot
	shallow = true
	registered = true
[submodule "diaQTL"]
	path = diaQTL
	url = https://github.com/jendelman/diaQTL
	shallow = true
	registered = true
[submodule "drc"]
	path = drc
	url = https://github.com/DoseResponse/drc
	shallow = true
	registered = true
[submodule "DSSAT"]
	path = DSSAT
	url = https://github.com/palderman/DSSAT
	shallow = true
	registered = true
[submodule "EnvRtype"]
	path = EnvRtype
	url = https://github.com/allogamous/EnvRtype
	shallow = true
	registered = true
[submodule "epifitter"]
	path = epifitter
	url = https://github.com/AlvesKS/epifitter
	shallow = true
	registered = true
[submodule "epiphy"]
	path = epiphy
	url = https://github.com/chgigot/epiphy
	shallow = true
	registered = true
[submodule "fabio"]
	path = fabio
	url = https://github.com/fineprint-global/fabio
	shallow = true
	registered = true
[submodule "faobulk"]
	path = faobulk
	url = https://github.com/muuankarski/faobulk
	shallow = true
	registered = true
[submodule "FedData"]
	path = FedData
	url = https://github.com/ropensci/FedData
	shallow = true
	registered = true
[submodule "fertplan"]
	path = fertplan
	url = https://github.com/mbask/fertplan
	shallow = true
	registered = true
[submodule "frost"]
	path = frost
	url = https://github.com/anadiedrichs/frost
	shallow = true
	registered = true
[submodule "FW"]
	path = FW
	url = https://github.com/lian0090/FW
	shallow = true
	registered = true
[submodule "gge"]
	path = gge
	url = https://github.com/kwstat/gge
	shallow = true
	registered = true
[submodule "ggfertilizer"]
	path = ggfertilizer
	url = https://github.com/wenlong-liu/ggfertilizer
	shallow = true
	registered = true
[submodule "gosset"]
	path = gosset
	url = https://github.com/agrdatasci/gosset
	shallow = true
	registered = true
[submodule "grapesAgri1"]
	path = grapesAgri1
	url = https://github.com/pratheesh3780/grapesAgri1
	shallow = true
	registered = true
[submodule "GWASpoly"]
	path = GWASpoly
	url = https://github.com/jendelman/GWASpoly
	shallow = true
	registered = true
[submodule "hagis"]
	path = hagis
	url = https://github.com/openplantpathology/hagis
	shallow = true
	registered = true
[submodule "IBCF.MTME"]
	path = IBCF.MTME
	url = https://github.com/frahik/IBCF.MTME
	shallow = true
	registered = true
[submodule "INLA"]
	path = INLA
	url = https://github.com/inbo/INLA
	shallow = true
	registered = true
[submodule "landsepi"]
	path = landsepi
	url = https://gitlab.paca.inrae.fr/CSIRO-INRA/landsepi
	shallow = true
	registered = true
[submodule "LinkageMapView"]
	path = LinkageMapView
	url = https://github.com/bio-services/LinkageMapView
	shallow = true
	registered = true
[submodule "lmDiallel"]
	path = lmDiallel
	url = https://github.com/OnofriAndreaPG/lmDiallel
	shallow = true
	registered = true
[submodule "lme4qtl"]
	path = lme4qtl
	url = https://github.com/variani/lme4qtl
	shallow = true
	registered = true
[submodule "mappoly"]
	path = mappoly
	url = https://github.com/mmollina/MAPpoly
	shallow = true
	registered = true
[submodule "MapRtools"]
	path = MapRtools
	url = https://github.com/jendelman/MapRtools
	shallow = true
	registered = true
[submodule "MCMCglmm"]
	path = MCMCglmm
	url = https://github.com/jarrodhadfield/MCMCglmm
	shallow = true
	registered = true
[submodule "MegaLMM"]
	path = MegaLMM
	url = https://github.com/deruncie/MegaLMM
	shallow = true
	registered = true
[submodule "meteor"]
	path = meteor
	url = https://github.com/cropmodels/meteor
	shallow = true
	registered = true
[submodule "metrica"]
	path = metrica
	url = https://github.com/adriancorrendo/metrica
	shallow = true
	registered = true
[submodule "MoBPS"]
	path = MoBPS
	url = https://github.com/tpook92/MoBPS/tree/master/pkg
	shallow = true
	registered = true
[submodule "nlraa"]
	path = nlraa
	url = https://github.com/femiguez/nlraa
	shallow = true
	registered = true
[submodule "NutrienTrackeR"]
	path = NutrienTrackeR
	url = https://github.com/AndreaRMICL/NutrienTrackeR
	shallow = true
	registered = true
[submodule "onemap"]
	path = onemap
	url = https://github.com/augusto-garcia/onemap
	shallow = true
	registered = true
[submodule "phenorice"]
	path = phenorice
	url = https://github.com/cropmodels/phenorice
	shallow = true
	registered = true
[submodule "polyBreedR"]
	path = polyBreedR
	url = https://github.com/jendelman/polyBreedR
	shallow = true
	registered = true
[submodule "poppr"]
	path = poppr
	url = https://github.com/grunwaldlab/poppr
	shallow = true
	registered = true
[submodule "prism"]
	path = prism
	url = https://github.com/ropensci/prism
	shallow = true
	registered = true
[submodule "qtl"]
	path = qtl
	url = https://github.com/kbroman/qtl
	shallow = true
	registered = true
[submodule "qtlpoly"]
	path = qtlpoly
	url = https://github.com/gabrielgesteira/QTLpoly
	shallow = true
	registered = true
[submodule "rapsimng"]
	path = rapsimng
	url = https://github.com/byzheng/rapsimng
	shallow = true
	registered = true
[submodule "rarms"]
	path = rarms
	url = https://github.com/cbw1243/rarms
	shallow = true
	registered = true
[submodule "Recocrop"]
	path = Recocrop
	url = https://github.com/cropmodels/Recocrop
	shallow = true
	registered = true
[submodule "resevol"]
	path = resevol
	url = https://github.com/bradduthie/resevol
	shallow = true
	registered = true
[submodule "rMVP"]
	path = rMVP
	url = https://github.com/xiaolei-lab/rMVP
	shallow = true
	registered = true
[submodule "rnassqs"]
	path = rnassqs
	url = https://github.com/ropensci/rnassqs
	shallow = true
	registered = true
[submodule "rnoaa"]
	path = rnoaa
	url = https://github.com/ropensci/rnoaa
	shallow = true
	registered = true
[submodule "Rquefts"]
	path = Rquefts
	url = https://github.com/cropmodels/Rquefts
	shallow = true
	registered = true
[submodule "rusda"]
	path = rusda
	url = https://github.com/ropensci/rusda
	shallow = true
	registered = true
[submodule "Rwofost"]
	path = Rwofost
	url = https://github.com/cropmodels/Rwofost
	shallow = true
	registered = true
[submodule "sharpshootR"]
	path = sharpshootR
	url = https://github.com/ncss-tech/sharpshootR
	shallow = true
	registered = true
[submodule "simplePHENOTYPES"]
	path = simplePHENOTYPES
	url = https://github.com/samuelbfernandes/simplePHENOTYPES
	shallow = true
	registered = true
[submodule "SISINTAR"]
	path = SISINTAR
	url = https://github.com/INTA-Suelos/SISINTAR
	shallow = true
	registered = true
[submodule "soilDB"]
	path = soilDB
	url = https://github.com/ncss-tech/soilDB
	shallow = true
	registered = true
[submodule "SoilTaxonomy"]
	path = SoilTaxonomy
	url = https://github.com/ncss-tech/SoilTaxonomy
	shallow = true
	registered = true
[submodule "soiltestcorr"]
	path = soiltestcorr
	url = https://github.com/adriancorrendo/soiltestcorr
	shallow = true
	registered = true
[submodule "sommer"]
	path = sommer
	url = https://github.com/covaruber/sommer
	shallow = true
	registered = true
[submodule "SoyNAM"]
	path = SoyNAM
	url = https://github.com/alenxav/SoyNAM
	shallow = true
	registered = true
[submodule "st4gi"]
	path = st4gi
	url = https://github.com/reyzaguirre/st4gi
	shallow = true
	registered = true
[submodule "StageWise"]
	path = StageWise
	url = https://github.com/jendelman/StageWise
	shallow = true
	registered = true
[submodule "statgenGWAS"]
	path = statgenGWAS
	url = https://github.com/Biometris/statgenGWAS
	shallow = true
	registered = true
[submodule "statgenGxE"]
	path = statgenGxE
	url = https://github.com/Biometris/statgenGxE
	shallow = true
	registered = true
[submodule "statgenHTP"]
	path = statgenHTP
	url = https://github.com/Biometris/statgenHTP
	shallow = true
	registered = true
[submodule "statgenIBD"]
	path = statgenIBD
	url = https://github.com/Biometris/statgenIBD
	shallow = true
	registered = true
[submodule "statgenMPP"]
	path = statgenMPP
	url = https://github.com/Biometris/statgenMPP
	shallow = true
	registered = true
[submodule "statgenSTA"]
	path = statgenSTA
	url = https://github.com/Biometris/statgenSTA
	shallow = true
	registered = true
[submodule "tidyUSDA"]
	path = tidyUSDA
	url = https://github.com/bradlindblad/tidyUSDA
	shallow = true
	registered = true
[submodule "usdampr"]
	path = usdampr
	url = https://github.com/cbw1243/usdampr
	shallow = true
	registered = true
[submodule "Xpolaris"]
	path = Xpolaris
	url = https://github.com/lhmrosso/XPolari
	shallow = true
	registered = true
